<!--<a routerLink="login" >Test </a>-->


<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">

  <section class="sidebar">

    <!-- Sidebar Menu -->
    <ul class="sidebar-menu">
      <li class="active">
        <a routerLink="dashboard"> <i class="icon-Dashboard-Active icn" aria-hidden="true"></i> &nbsp;
          <span>Dashboard</span></a>
      </li>
      <li class="treeview">
        <a href="#"> <i class="icon-Reports-active icn" aria-hidden="true"></i> &nbsp;
          <span>Requisition Management</span>
        </a>
        <ul class="treeview-menu">
          <li><a routerLink="">New Requisition</a></li>
          <li><a routerLink="">Search Requisition</a></li>
          <li><a routerLink="">Approve Requisition</a></li>
          <li><a routerLink="">Requisition Status</a></li>
        </ul>
      </li>

      <li class="treeview">
        <a href="#"> <i class="icon-Applicant icn" aria-hidden="true"></i> &nbsp;
          <span>Applicant Tracking</span>
        </a>
        <ul class="treeview-menu">
          <li><a routerLink="">Applicant Add</a></li>
          <li><a routerLink="">Applicant Profile Search</a></li>
          <li><a routerLink="">Add Interview Feedback</a></li>
          <li><a routerLink="">My Profile</a></li>

        </ul>
      </li>

      <li class="treeview">
        <a href="#"> <i class="fa fa-gear icn" aria-hidden="true"></i> &nbsp;
          <span>Configuration</span>
        </a>
        <ul class="treeview-menu">
          <li><a routerLink="config/questions">Questions</a></li>
          <li><a routerLink="">Department</a></li>
          <li><a routerLink="">Division</a></li>
          <li><a routerLink="">Location</a></li>
          <li><a routerLink="">Job Grade</a></li>
          <li><a routerLink="">Job Code</a></li>
          <li><a routerLink="">eQuest Job Type</a></li>
          <li><a routerLink="">Create Project</a></li>
          <li><a routerLink="">eQuest Job Industry</a></li>
          <li><a routerLink="">Type Of Positions</a></li>
          <li><a routerLink="">Map Division to Screen 360</a></li>
          <li><a routerLink="">User</a></li>
          <li><a routerLink="">Eform</a></li>
          <li><a routerLink="">Deck</a></li>
          <li><a routerLink="">Message Template</a></li>
          <li><a routerLink="">Census</a></li>
          <li><a routerLink="">eQuest Job Function</a></li>

        </ul>
      </li>


    </ul>
  </section>
  <!-- /.sidebar -->
</aside>
